##################################################
# IntelliJ IDEA
##################################################

# Ignore all IntelliJ project files
**/.idea/

# Ignore IntelliJ module files
*.iml
*.ipr
*.iws

##################################################
# OS files
##################################################

.DS_Store
Thumbs.db

##################################################
# Logs
##################################################

*.log
logs/

##################################################
# Environment files
##################################################

.env
.env.*
!.env.example

##################################################
# Misc
##################################################

out/
coverage/

##################################################
# Generated archives (optional)
##################################################

*.zip
*.tar
*.tar.gz